<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<!-- <link rel="stylesheet" type="text/css" href="style1.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}"/>
</head>
<body>
<h1>About Sentalyze</h1>

<div class="container">
	<p>Natural language processing (NLP) is a subfield of linguistics, computer science, information engineering, and artificial intelligence concerned with the interactions between computers and human (natural) languages, in particular how to program computers to process and analyze large amounts of natural language data.</p><br>

	<p>The model used in Sentalyze is trained on the Amazon Alexa and Twitter reviews and uses the basic NLP techniques like Word Embeddings and Word2Vec.The model uses only 20% of the vast dataset. </p><br>

	<p>Just type in your sentence and find out how positive your sentence is!</p>

	<hr>

	<br><br>
	<p>Created By: Prakhar Rai</p>
</div>


</body>
</html>